.navbar {
    position:absolute;
    top: 1rem;
    left: 2rem;
}

.nav {
    flex-direction: column;
    width: 50%;
}

.nav-item {
    background-color: $navbar-elements-bg;
    font-family: $font-family-sans-serif;
    font-size: .9rem;
    line-height: .975;
    position: relative;
    right: 0;
    transition: right ease .25s;
}

.nav-item:hover {
    right: -5px;
}

.carousel-control-container {
    display: none;
}

@include media-breakpoint-up(lg){
    .navbar-container {
        position:relative;
        top: -100px;
    }

    .navbar {
        position:initial;
    }

    .nav {
        flex-wrap: nowrap;
        flex-direction: initial;
        width: initial;
    }

    .nav-item {
        background-color: $navbar-elements-bg;
        width: 16.66%;
        height: 7rem;
        font-family: $font-family-sans-serif;
        font-size: .9rem;
        line-height: .975;
        position: relative;
        top: 0;
        transition: top ease .25s;
    }

    .nav-item:hover {
        right: 0;
        top: -10px;
    }

    .carousel-control-container {
        display: inherit;
        text-align: right;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        display: inline-block;
        position:unset;
        top:unset;
        bottom: -10px;
        width: unset;
        opacity: unset;
        width: 3rem;
        height: 3rem;
    }
    
    .carousel-control-prev {    
        left: unset;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
    
    .carousel-control-next {
        right: unset;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    .material-icons.md-dark { 
        color: $header-carousel-navigation; 
    }

}