/* Define colors */
$header-carousel-navigation: #747474;
$navbar-breadcrumb: #fff;
$navbar-elements-bg: #0d5286;

/* Define fonts */
$font-family-sans-serif: 'Roboto', arial, helvetica, sans-serif;
$font-family-serif: 'Roboto Slab', georgia, times, serif;