/* Define colors */
// $background-color: #fff;
// $background-color-secondary: rgba(51, 100, 138, .1);
// $text-color: #232323;
// $text-color-secondary: #747474;
// $text-color-inverse: #fff;
// $color: #2f4858;
$navbar-bg: #0d5286;
// $color-3: #f6ae2d;
// $color-4: rgba(246, 176, 45, .7);
// $box-shadow: rgba(0, 0, 0, .2);
// $box-shadow-hover: rgba(246, 176, 45, .7);

/* Define fonts */
$font-family-sans-serif: 'Roboto', arial, helvetica, sans-serif;
$font-family-serif: 'Roboto Slab', georgia, times, serif;