/* Define colors */
$header-carousel-navigation: #747474;
$navbar-elements-bg: #0d5286;
// $color-3: #f6ae2d;
// $color-4: rgba(246, 176, 45, .7);
// $box-shadow: rgba(0, 0, 0, .2);
// $box-shadow-hover: rgba(246, 176, 45, .7);

/* Define fonts */
$font-family-sans-serif: 'Roboto', arial, helvetica, sans-serif;
$font-family-serif: 'Roboto Slab', georgia, times, serif;